<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agilemobiletech.com.demo1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AccountActivity"
            android:label="Account"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard" />
        <activity
            android:name=".ContactsActivity"
            android:label="Contacts"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Reset Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Register"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login" />
    </application>

</manifest>